## Deliverable 2. Create a Customer Travel Destinations Map.

In [49]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [50]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,82.38,81,40,11.50,scattered clouds
1,1,Muroto,JP,33.2833,134.1500,83.25,81,57,7.14,broken clouds
2,2,Molchanovo,RU,57.5817,83.7692,72.68,73,100,6.06,light rain
3,3,Punta Arenas,CL,-53.1500,-70.9167,42.91,61,0,5.75,clear sky
4,4,Snezhnogorsk,RU,69.1933,33.2531,56.98,91,99,2.59,overcast clouds

In [51]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [52]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Molchanovo,RU,57.5817,83.7692,72.68,73,100,6.06,light rain
6,6,Chapais,CA,49.7834,-74.8492,62.38,85,99,5.61,overcast clouds
8,8,Khomutovo,RU,52.4658,104.4025,77.61,64,91,10.29,overcast clouds
11,11,Mikhaylovka,RU,50.0600,43.2379,72.79,60,93,13.47,overcast clouds
15,15,Albany,US,42.6001,-73.9662,64.92,88,0,4.16,clear sky
19,19,Atuona,PF,-9.8000,-139.0333,76.69,78,15,13.49,few clouds
20,20,Anloga,GH,5.7947,0.8973,74.43,85,100,14.09,overcast clouds
27,27,Hilo,US,19.7297,-155.0900,77.29,95,60,6.11,broken clouds
28,28,Udachnyy,RU,66.4167,112.4000,77.63,53,72,7.94,light rain
31,31,Santa Maria Del Oro,MX,25.9333,-105.3667,70.18,59,90,3.78,overcast clouds

In [53]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [54]:
preferred_cities_df.count()

City_ID                333
City                   333
Country                333
Lat                    333
Lng                    333
Max Temp               333
Humidity               333
Cloudiness             333
Wind Speed             333
Current Description    333
dtype: int64

In [55]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Molchanovo,RU,57.5817,83.7692,72.68,73,100,6.06,light rain
6,6,Chapais,CA,49.7834,-74.8492,62.38,85,99,5.61,overcast clouds
8,8,Khomutovo,RU,52.4658,104.4025,77.61,64,91,10.29,overcast clouds
11,11,Mikhaylovka,RU,50.0600,43.2379,72.79,60,93,13.47,overcast clouds
15,15,Albany,US,42.6001,-73.9662,64.92,88,0,4.16,clear sky
...,...,...,...,...,...,...,...,...,...,...
687,687,Soyo,AO,-6.1349,12.3689,71.80,83,88,7.56,overcast clouds
688,688,Miguel Hidalgo,MX,19.4225,-99.2028,62.51,68,75,10.00,broken clouds
689,689,Osypenko,UA,46.9136,36.8253,78.80,39,2,16.04,clear sky
690,690,Dosso,NE,13.0490,3.1937,74.44,83,95,13.89,overcast clouds
692,692,Bacalar,MX,18.6667,-88.3833,75.83,94,86,4.29,overcast clouds

In [56]:
clean_df.count()

City_ID                333
City                   333
Country                333
Lat                    333
Lng                    333
Max Temp               333
Humidity               333
Cloudiness             333
Wind Speed             333
Current Description    333
dtype: int64

In [57]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Molchanovo,RU,72.68,light rain,57.5817,83.7692,
6,Chapais,CA,62.38,overcast clouds,49.7834,-74.8492,
8,Khomutovo,RU,77.61,overcast clouds,52.4658,104.4025,
11,Mikhaylovka,RU,72.79,overcast clouds,50.0600,43.2379,
15,Albany,US,64.92,clear sky,42.6001,-73.9662,
19,Atuona,PF,76.69,few clouds,-9.8000,-139.0333,
20,Anloga,GH,74.43,overcast clouds,5.7947,0.8973,
27,Hilo,US,77.29,broken clouds,19.7297,-155.0900,
28,Udachnyy,RU,77.63,light rain,66.4167,112.4000,
31,Santa Maria Del Oro,MX,70.18,overcast clouds,25.9333,-105.3667,

In [58]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [59]:
import numpy as np

In [60]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Molchanovo,RU,72.68,light rain,57.5817,83.7692,Yut Inn
6,Chapais,CA,62.38,overcast clouds,49.7834,-74.8492,Hôtel Opémiska
8,Khomutovo,RU,77.61,overcast clouds,52.4658,104.4025,"Almaznaia,48"
11,Mikhaylovka,RU,72.79,overcast clouds,50.0600,43.2379,5 Komnat
19,Atuona,PF,76.69,few clouds,-9.8000,-139.0333,Villa Enata

In [61]:
# 8a. Create the output File (CSV)
output_data_file = 'Vacation_Search/WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [62]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [63]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))